[Unit]
Description=CI-V Serial Band Decoder
After=default.target

[Install]
WantedBy=default.target
Alias=Decoder.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/bin/CIV_Serial.py
StandardOutput=append:Decoder.log
StandardError=file:Decoder.err 
Restart=always
RestartSec=1
